    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        }
        body{
            background-color:white;
        }
        .container{
                max-width: 1170px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: 30px;
            }
        header nav{
                display: flex;
                align-items: center;
                width: 100%;
                margin:0px;
                padding: 0px;       
            }
        header .navbar{
                margin: 15px;
                padding: right 90px;
                list-style: none;
                display: flex;
            }
        header .navbar a{
                display: block;
                text-decoration:none ;
                color: black;
                margin: 0 20px;
                font-size: 15px;
            }
        #check{
            display: none;
            }
        .checkbtn{
            font-size: 30px;
            color:black;
            float: right;
            margin-right: 40px;
        }


        .logo{
                margin-left:-150px;
                width: 30px;
                
            }
        @media screen and (max-width:500px) {
            body{
                overflow-x: hidden;
            }
            .logo{
                width:10px;
            }
            .adobe h4{
                font-size: 10px;
            }

            .navbar a{
                float: none;
                display: block;
            }
            
        }
        .img{
            position: relative;
                width: 100%;
                padding-bottom: 10px;
            }
            .content{
                position: absolute;
                top: 0;
                padding-top: 150px;
                margin-left: 60px;

            }
            .content-1{
                display: none;
            }
        @media screen and (max-width:768px) {
            body{
                overflow-x: hidden;
            }
            .img{
                width: 100%;
            
            }
            .content {
            display: none;
            }
            .content-1{
                display: block;
                text-align: center;
                
            }
            
        }

        .adobe{
                color: red;
                margin-left: 10px;
                font-size: 25px;
                margin: 0 20px;
            }
        .sig{
                margin-left: auto;
                text-decoration:none;
                color: black;
            }
        .navbar a:hover{
                background-color:darkgrey;
                box-shadow:gainsboro;

            }
        .wrap .img-card:hover{
            box-shadow: 0 8px 16px 0 blue;
            }
        header .navbar a{
        display: block;
        text-decoration:none ;
        color: black;
        margin: 0 20px;
        font-size: 20px;
        }
   
    .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 60px;
        align-content: center;
        height: auto;
        }
     @media screen and (max-width:768px) {
        body{
            overflow-x: hidden;
        }
        .wrap{
            margin-top: 20px;
            align-content: center;
            justify-content: space-between;
            height: auto;
            flex-direction: column;
            width: 100%;
           
        }
         .img-card{
                width: 100%; 
                  
        
        }
        header .navbar a{
            display: none;
        }
        #check{
            display: block;
        }

    } 
        .container{
            max-width: 1170px;
            margin: auto;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .footer{
            background-color:snow;
            padding: 70px 0;
    
        }
        ul{
            list-style: none;
            text-decoration: none;
        }
        .footer-col{
            width: 25%;
            padding: 0 15px;
        }
        .footer-col h4{
            font-size: 18px;
            color: black;
            margin-bottom: 30px;
            font-weight: 500;
            position: relative;
        }
        .footer-col h4::before{
            content: '';
            left: 0;
            position: absolute;
            bottom: -10;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }
        .footer-col ul li:not(:last-child){
            margin-bottom: 20px;
        }
        .footer-col ul li a{
            font-size: 10px;
            color: black;
            font-weight: 300;
            text-decoration: none;
            display: block;
        }
        .footer-col ul li a:hover{
            color: blue;
        }
        .button{
            text-decoration: none;
            display:flex;
            flex-wrap: wrap;
            justify-content:center;
            margin-bottom: 20px;
            margin-top:20px;
           
        }
        @media screen and (max-width:1600px) {
                body{
                    overflow-x: hidden;
                }
              
                .button{
                    width: 100%;
                }
        }    
            
        
        .link{
            font-size: 20px;
            border-style: solid;
            border-radius: 10px;
            border-width: 2px;
            font-weight: 700;
            padding-left: 20px;
            padding-right: 20px;
            border-spacing:1cm 2em;
            
        }
        .link:hover{
            background-color: gray;
        }
        .wrap1{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 60px;
                align-content: center;
                height: auto;
                }
        @media screen and (max-width:768px) {
            body{
                overflow-x: hidden;
            }
            .wrap1{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 30px;
                width: 100%;
            }
            .image-card1{
                width: 100%;
            }
        }
        .wrap2{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 60px;
            align-content: center;
            height: auto;
         }
         @media screen and (max-width:768px) {
            body{
                 overflow-x: hidden;
             }
            .wrap2{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 60px;
                align-content: center;
                height: auto;
            }
            .image-card2{
                width:100%
            }
             
         }
        
        .wrap3{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: center;
            margin-top: 30px;
           
        }
        @media screen and (max-width:768px) {
            body{
                overflow-x: hidden;
            }
            .wrap3{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-top: 30px;
            width: 100%;

            }
            .card-2nd-div{
                width:100%;
            
            }
            .card-2nd-div1{
                width:100%;
            
            }

        } 
        .bg-image{
            width: 100%;
            margin-top: 30px;
        }
        .bg2-image{
            width: 100%;
            margin-top: 30px;
        }



        

        
       